* {
  margin: 0;
}

.app-headerImage {
  object-fit: contain;
  max-width: 15%;
  
  
}

.App {
  background-color: #fafafa;
  height: 100vh;
}
.app-header {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
